.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBox {
  margin-top: 1em;
  max-width: 15em;
  max-height: 15em;
  animation: 2s ease-in-out infinite alternate logoAnimated;
}

.imgBox img {
  width: 80%;
  height: 80%;
}

.startCoding {
  font-size: 2em;
  margin-top: 1em;
  color: rgb(71, 71, 71);
}

@keyframes logoAnimated {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0.6;
  }
}
